/* (edit style.css for your own book styles) */

img { max-width: 100%; }

:root {
  --comp: #4864DB;
  --dist: #10D4CF;
  --rels: #8DEA74;
  --time: #F5C748;
  --cert: #EA4E11;
}

/* rainbow borders */
body {
  margin-top: 20px;
  box-shadow: 0 -4px 0 0px var(--cert),
              0 -8px 0 0px var(--time),
              0 -12px 0 0px var(--rels),
              0 -16px 0 0px var(--dist),
              0 -20px 0 0px var(--comp);
}


/* colour-coded sction headers */
.sidebar-item-section > .sidebar-item.container .sidebar-item-text {
  font-weight: bold; font-variant: small-caps;
}

.sidebar-item-text[data-bs-target="#quarto-sidebar-section-1"] { color: var(--comp); }
.sidebar-item-text[data-bs-target="#quarto-sidebar-section-2"] { color: var(--dist); }
.sidebar-item-text[data-bs-target="#quarto-sidebar-section-3"] { color: var(--rels); }
.sidebar-item-text[data-bs-target="#quarto-sidebar-section-4"] { color: var(--time); }
.sidebar-item-text[data-bs-target="#quarto-sidebar-section-5"] { color: var(--cert); }

